.navbar {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
  /* Tabs */
  .navbar-nav {
    display: flex;
    gap: 20px;
    position: relative;
  }
  
  .nav-link {
    font-size: 16px;
    color: black;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link.active {
    color: #007bff;
  }
  .nav-icon {
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
    color: black;
}
  /* Thanh gạch dưới có animation */
  .indicator {
    position: absolute;
    bottom: -5px;
    height: 4px;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
  }
  